<div class="ion-post-container">
    <div fxLayout="row" fxLayoutAlign="center stretch" class="ion-post-content">
        <div fxFlex="30" class="ion-post-left-content" fxHide.xs="true">
           left
        </div>
        <div fxFlex="70" class="ion-post-right-content">
            <div class="ion-post-content-create">
                <ions-create-post></ions-create-post>
            </div>
            <div class="ion-post-content-posts">
                <ions-posts></ions-posts>
            </div>
        </div>
    </div>
</div>
