.ion-posts-profile-avatar {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

.ion-comment-body {
    height: 45vh;
}

.mat-card-title {
    font-size: 90%;
    font-weight: bold;
    border-radius: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.mat-form-field {
    width: 100%;
}

.comment {
    background-color: #e4e4e4;
    padding: 10px;

}

.ion-comment {
    margin-top: 5px;
    max-width: 95%;
    display: inline-block;
}
