<div class="ion-user-container">
    <div class="ion-user-header">
        <mat-card class="md-card ion-user-header-card">
            <img mat-card-avatar src="../../../../assets/profile.png" class="md-card-image ion-user-profile-avatar"
                alt="image caption">
            <mat-card-content>
                <h5>Oak Soe</h5>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch" class="ion-user-content">
        <div fxFlex="30" class="ion-user-left-content" fxHide.xs="true">
            
        </div>
        <div fxFlex="70" class="ion-user-right-content">
            <div class="ion-user-content-profile">
                <mat-card>
                    <ions-profile></ions-profile>
                </mat-card>
            </div>
        </div>
    </div>
</div>
    