.itl-header-menu-container {
    display: flex;

    .itl-header-menu-item {
        width: 40px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .mat-icon {
            color: white;
            margin: 0;
        }
    }

    .itl-header-menu-profile {
        padding-left: 10px;

        .itl-header-menu-profile-avatar {
            width: 25px;
            height: 25px;
        }

        .itl-header-menu-profile-name {
            padding-left: 8px;
        }
    }
}