<div class="itl-login-container">
    <mat-card class="itl-login-card" *ngIf="loginPage">
        <form [formGroup]="loginForm">
            <div class="itl-form-container">
                <mat-form-field>
                    <input matInput placeholder="Email" formControlName="emailControl" [(ngModel)]="user.email">
                    <mat-error *ngIf="loginForm.controls.emailControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls.emailControl.hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput class="mp-auth-input" placeholder="Password"
                        formControlName="passwordControl" [(ngModel)]="user.password">
                    <mat-error *ngIf="loginForm.controls.passwordControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <br />
                <div class="itl-login-button-container">
                    <button mat-raised-button color="primary" (click)="onLoginClick()"
                        [disabled]="!loginForm.valid">Login</button>
                </div>
            </div>
        </form>
        <div class="itl-login-buttons-container">
            <button mat-raised-button color="primary" (click)="signUp()">Sign Up</button>
        </div>
    </mat-card>
    <mat-card *ngIf="!loginPage">
        <mySocial-signup (toggleAuthClick)="toggleLogin($event)"></mySocial-signup>
    </mat-card>
</div>
<br>
